Footer {
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

footer {
  background-color: #f1f1f1;
}

.badge {
  background: grey;
  position: relative;
  top: -2px;
  left: -17px;
  height: 18px;
  color: white;
}

/*.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
}*/

/*.container { 
  margin-top: 25px;
}*/

body {
  background-color: #f1f1f1;
}

nav {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
  border-radius: 0 !important;
}

.bg-light {
  background-color: #fff !important;
}