Footer {
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

footer {
  background-color: #f1f1f1;
}

.badge {
  background: grey;
  position: relative;
  top: -2px;
  left: -17px;
  height: 18px;
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  opacity: 0.9;
  transition: 0.5s;
}

.navbar:hover {
  opacity: 1;
}

/*.container { 
  margin-top: 25px;
}*/

body {
  background-color: #f1f1f1;
  padding-top: 30px;
}

nav {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
  border-radius: 0 !important;
}

.bg-light {
  background-color: #fff !important;
}

nav button {
  margin-right: 21px;
}